/app/Config/core.php
/app/Config/email.php
/app/Config/database.php
/app/Config/security.salt
/app/Config/security.seed
/app/tmp
/app/tmp.not
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
.DS_Store
tags
.idea/
comanage-registry.iml
app/webroot/auth/login/.htaccess
