/app/Config/core.php
/lib/Cake/Console/Templates/skel/tmp/
/local/Config/database.php
/local/Config/email.php
/local/Config/security.salt
/local/Config/security.seed
/local/Plugin/GenericPlugin
/local/tmp
/plugins
/vendors
.DS_Store
tags
.idea/
comanage-registry.iml
app/webroot/auth/login/.htaccess
