/**
 * COmanage Registry Default Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v1.1
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/* HTML, BODY, HEADINGS, ANCHORS, FONTS */
@import url("fonts/notosans_regular/stylesheet.css");
@import url("fonts/notosans_bold/stylesheet.css");
@import url("fonts/material-icons/material-icons.css");

html * {
  font-family: 'Noto Sans','Trebuchet MS',Arial,Helvetica,sans-serif;
}
body {
  color: #222;
  -webkit-overflow-scrolling: touch; /* for dialog boxes */
  font-size: 12px; /* MDL override from 14px; */
}
h1,h2,h3,h4,h5 {
  font-family: 'Noto Sans Bold','Noto Sans','Trebuchet MS',Arial,Helvetica,sans-serif;
  color: #555;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h1.loginMsg {
  font-size: 1.8em;
  margin: 1em 0;
  text-align: center;
}
h1.firstPrompt {
  font-family: "Noto Sans";
  font-size: 1.2em;
  font-weight: normal;
}
#fpDashboard h2 {
  margin: 0.5em 0;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}
a {
  /*color: #2395E0;*/
  color: #07b; /* slightly darker: passes accessibility contrast checks */
  text-decoration: none;
}
#main a:active,
#main a:hover {
  text-decoration: underline;
}
#main a.mdl-button:active,
#main a.mdl-button:hover {
  text-decoration: none;
}
#main a.ui-widget:active,
#main a.ui-widget:hover {
  text-decoration: none;
}
/* ACCESSIBLE SKIP LINK */
#skip-to-content-box {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  width: 200px;
  z-index: 40;
}
#skip-to-content {
  position: relative;
  background-color: #07b;
  color: white;
  padding: 0 1em 0.25em ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -40px;
}
#skip-to-content:focus {
  top: 0;
  transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
  background-color: #4796CC;
}
/* HEADER */
#banner {
  box-shadow: 0 1px 2px #999;
}
header.mdl-layout__header {
  display: block !important;  /* don't hide on mobile */
  background-color: #aed9f9;
}
.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
  padding-left: 16px;
}
body.logged-out .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row,
body.redirect .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
  padding-left: 7px;
}
/* TOP MENU (BLACK BAR) */
#top-menu {
  position: relative;
  line-height: 1.5em;
  height: 30px;
  background-color: #222;
}
#desktop-hamburger {
  display: none; /* hide our custom drawer toggle on mobile where we will expose the MDL drawer toggle */
}
/* USER DEFINED LINKS (top) */
#user-defined-links-top  {
  display: none;
}
/* LOGO */
#logo {
  display: block;
  margin-top: 10px;
  position: absolute;
  right: 1em;
  overflow: hidden;
  width: 45px;
}
#logo img {
  height: 38px;
}
/* USER MENU */
#user-menu {
  text-align: right;
  z-index: 4;
}
body.logged-in #user-menu {
  float: right;
  margin: 0 0 1em;
  margin-top: 1px;
}
#user-menu #user,
#user-menu #notifications,
#user-menu #global-search,
#user-menu #logout {
  float: left;
  position: relative;
  color: white;
}
#user-menu #global-search .material-icons {
  margin: 4px 22px 0 1px;
  vertical-align: bottom;
  font-size: 20px;
}
#global-search-box {
  display: none; /* toggled by the field label */
  position: relative;
  z-index: 10;
  margin: 5px 22px 0 0;
  padding: 8px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
}
#global-search-box .submit,
#global-search-box .input.text {
  display: inline-block;
}
#global-search-box #CoDashboardQ {
  width: 170px;
  padding: 4px;
  height: 24px;
  margin: 2px 8px 0 0;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 16px;
}
#global-search-box #CoDashboardQ:focus {
  background-color: #ffe;
}
#global-search-box .mdl-button {
  position: relative;
  top: -4px;
}
.mdl-menu__container {
  top: 26px !important;
}
#user-menu #user,
#user-menu #logout {
  margin-right: 12px;
}
#user-common-name {
  display: none;
}
#user-menu a.topMenu {
  color: #fff;
}
#user-menu .material-icons {
  vertical-align: bottom;
  font-size: 23px;
}
#user-menu .icon-adjust {
  margin-right: -8px;
}
#user {
  margin-top: 2px;
}
#user-links-menu li {
  text-align: center;
}
#user-links-cn {
  background-color: #1C77AF;
  color: white;
  margin-top: -8px;
  text-align: center;
  padding: 0.4em;
}
#user-links-id {
  background-color: #2395E0;
  /*background-color: #186696;*/
  color: white;
  text-align: center;
  padding: 0.4em;
}
/* NOTIFICATIONS */
#notifications {
  margin-top: 2px;
}
#user-notification-count {
  position: relative;
  top: -1px;
}
#notifications #notifications-menu {
  width: 220px;
  background-color: #f55;
}
#notifications .notification {
  line-height: 1.3em;
  padding: 0.5em 1em;
  border-bottom: 1px solid #dae7ef;
}
#notifications .notification a {
  display: block;
}
#notifications .notification:nth-child(odd) {
  background-color: #fdfdfd;
}
#notifications .notification:nth-child(even) {
  background-color: #f5f5f5;
}
#notifications li.notification:nth-child(n+4) {
  /* only show three notifications on mobile phones. */
  display: none;
}
#notifications .notification:hover {
  background-color: rgb(238,238,238);
}
#notifications .notification-created {
  font-size: 0.9em;
}
#notifications .notification-created a {
  color: #444;
}
/* Notification page */
ul.form-list.notification-list .field-name {
  font-weight: bold;
  vertical-align: top;
  max-width: 240px;
}
ul.form-list.notification-list .field-info {
  vertical-align: top;
}
.field-email p {
  margin-bottom: 0.25em;
}
form#notificationStatus {
  clear: left;
}
.notificationStatus {
  float: left;
  margin-right: 1em;
  margin-top: 5px;
}
/* LOGIN & LOGOUT */
#login {
  margin-top: -2px;
  margin-right: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  min-width: 64px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
#welcome-login {
  text-align: center;
  margin: 1em auto;
}
/* hide logout button on mobile;
   instead, reveal in user menu */
#logout {
  display: none;
}
#logout-in-menu {
  margin: 4px 0 -8px;
}
.co-menu-button a {
  background-color: #2395E0;
  /*background-color: #186696;*/
  color: white;
  text-align: center;
  padding: 0.4em;
  display: block;
  margin-bottom: -8px;
}
.co-menu-button a:hover {
  background-color: #53B1F4;
}
/* Shib IDP */
#idp-select-container {
  clear: both;
  padding: 1em 0;
}
/* NOTICES */
.noty_text{
  font-weight: bold;
}
.noty_icon{
  display: inline-block !important;
  position: relative;
  top: 3px;
}
.warbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_826262_256x240.png") !important;
}
.sucbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_006400_256x240.png") !important;
}
.errbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png") !important;
}
.notbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_444444_256x240.png") !important;
}
/* General icon and box styling */
.co-info { /* info icon */
  float: left;
  margin: 0.3em 0.3em 0 0;
}
.co-alert { /* alert icon */
  float:left;
  margin:0 7px 20px 0;
}
.co-info-topbox {
  clear: both;
  padding: 1em;
  background-color: #fbec88;
  margin-bottom: 0.5em;
}
#lastLogin p {
  margin-bottom: 0;
}
#content .co-info-topbox .material-icons {
  color: #53b1f4;
  font-size: 26px;
  vertical-align: bottom;
  float: left;
  margin-right: 0.25em;
  margin-top: -0.1em;
}
.material-icons.error {
  color: #d00;
}
/* NAVIGATION / SIDE DRAWER */
#navigation {
  z-index: 100;
  padding-top: 0;
}
.mdl-layout__drawer-button {
  color: white;
  top: -14px;
  left: -2px;
}
#main-menu {
  margin: 0;
  padding: 0 0 1em 0;
}
#main-menu ul {
  padding: 0.5em 0 1em 0;
}
#main-menu li {
  list-style: none;
}
#main-menu > li {
  border-bottom: 1px solid #f2f2f2;
}
#main-menu > li a {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 8px 0 8px 12px;
  text-decoration: none;
  color: #222;
  position: relative;
  overflow:hidden;
}
#main-menu > li li {
  border-bottom: none;
  position: relative;
  overflow:hidden;
}
#main-menu > li li a {
  font-size: 0.9em;
  padding: 7px 8px 7px 16px;
  line-height: 1.4em;
  color: #2395E0;
  border: 1px solid transparent;
}
#main-menu > li a:hover,
#main-menu > li a:focus {
  background-color: #f2f2f2;
}
#main-menu > li li a:focus {
  border: 1px dotted #53B1F4;
}
#main-menu .fa-fw {
  width: 2em;
}
#main-menu li.active a.menuTop {
  background-color: #f2f2f2;
}
#main-menu .mdl-ripple {
  background-color: #aed9f9;
}
#main-menu .menuTitleAdjust {
  margin-left: -4px;
}
#main-menu .material-icons {
  margin-right: 6px;
  vertical-align: bottom;
}
#main-menu .serviceMenu ul .material-icons {
  font-size: 1.1em;
  position: relative;
  top: -2px;
  color: #bbb;
}
.custom-links ul {
  margin: 0;
  padding: 0;
}
.custom-links li {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.custom-links a {
  display: block;
  padding: 8px 4px 8px 16px;
  color: #92B6D1;
}
/* CONTENT */
#collaborationTitle {
  color: #222;
  font-size: 2em;
  min-height: 23px;
  padding: 0 40px 0 0;
  margin: 0;
}
#collaborationTitle a {
  color: #222;
}
#breadcrumbs {
  font-size: 0.9em;
}
body.co_petitions.view #titleNavContainer,
body.co_person_roles #titleNavContainer,
body.co_people.canvas #titleNavContainer {
  padding-bottom: 0;
}
.pageTitle {
  float: left;
  padding-bottom: 0.25em;
}
.pageTitle .deleted,
.pageTitle .archived {
  background-color: #e33;
  color: white;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-left: 0.25em;
  padding: 0 4px;
  text-transform: uppercase;
}
.pageTitle .archived {
  background-color: #808083;
}
/* TOP CONTENT LINKS (contextual) */
#topLinks {
  float: left;
  margin: 0.6em 0 0;
  padding: 0;
}
#topLinks.ui-widget-content {
  border: none;
}
#topLinks li {
  list-style: none;
  display: inline-block;
}
#topLinks a {
  text-decoration: none;
  color: #1d5987;
  /* override ui-icon settings: */
  border: none;
  background: none;
  background-color: white;
}
#topLinks a:hover {
  color: #222;
}
/* RIGHT SIDEBAR */
#right-sidebar {
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
}
#right-sidebar #menu {
  padding-left: 0;
}
#right-sidebar #menu .ui-icon {
  float: left;
  margin: 0 4px 0 -1.5em;
}
#right-sidebar #menu li {
  list-style: none;
  margin-bottom: 0.5em;
}
#right-sidebar #menu li a {
  display: block;
  margin-left: 1.5em;
  line-height: 1.2em;
}
/* INNER CONTENT - for non-table-based layouts */
.inner-content {
  clear: both;
  margin-top: 1em;
}
/* SEARCH PAGE */
#CoDashboardSearchForm {
  margin-bottom: 1em;
}
#search-results {
  display: flex;
  flex-flow: row wrap;
}
#search-results .co-card {
  flex: 1 0 20%;
  width: auto;
}
#search-results .co-card li {
  padding: 0.5em;
}
#search-results .co-card li:nth-child(2n+1) {
  background-color: #ededed;
}
#search .input.text,
#search .submit {
  display: inline-block;
}
#search input#CoDashboardQ {
  height: 24px;
  width: 170px;
  margin-right: 0.5em;
  padding: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
#search input#CoDashboardQ:focus {
  background-color: #ffe;
  border: 1px solid #ccc;
}
#search input[type=submit] {
  position: relative;
  top: -2px;
  height: 33px;
}
}
/* REDIRECT PAGE */
#redirect-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  width: 240px;
}
#redirect-spinner {
  padding: 1em 1em 2em;
  position: relative;
}
/* SELECT CO */
#fpCoList .co-row {
  cursor: pointer;
}
#fpCoList .mdl-grid.co-row:hover {
  background-color: #eee;
}
/* CONFIGURATION PAGE */
#configuration-menu {
  padding: 1em;
  margin: 0;
}
#configuration-menu li {
  list-style: none;
  margin-bottom: 0.5em;
}
/* ENROLLMENT FLOW STEPS */
#enrollmentFlowIntro {
  clear: both;
  padding: 1em;
}
.enrollmentFlowStartButton {
  margin: 0 0 3em 1em;
}
.qr-button {
  padding: 0;
  min-width: 40px;
  margin-left: 2px;
}
.actions {
  white-space: nowrap;
}
.first-cell {
  padding-right: 1em;
}
#enrollmentFlowSteps h3 {
  margin: 0;
  font-size: 1.5em;
  padding: 0 0.5em;
  text-align: center;
}
#enrollmentFlowSteps ul {
  margin: 1em 0 0 0.5em;
  padding: 0;
}
#enrollmentFlowSteps li {
  list-style: none;
  margin-bottom: 1.2em;
  line-height: 1.4em;
  margin-left: 30px;
  text-indent: -12px;
}
#enrollmentFlowSteps .material-icons {
  vertical-align: middle;
  margin-right: 6px;
}
#enrollmentFlowSteps li.selected {
  font-weight: bold;
}
#enrollmentFlowSteps li.incomplete {
  font-style: italic;
  text-indent: 0;
  color: #999;
}
#enrollmentFlowSteps li.selected .material-icons {
  color: #53B1F4;
}
#enrollmentFlowSteps li.complete .material-icons {
  color: #6eac2c;
}
#enrollmentFlowSteps li.stopped .material-icons {
  color: #cd0a0a;
}
/* PETITION ATTRIBUTES */
.modelbox {
  border: 1px solid rgb(224, 224, 224);
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: rgb(250, 250, 250);
  clear: both;
}
.modelbox .mdl-textfield {
  display: block;
  width: 100%;
}
.modelbox .boxtitle {
  padding: 0 0 5px 0;
}
.modelbox .boxtitle a {
  font-weight: bold;
}
.modelbox table tr>:first-child{
  min-width: 200px;
  text-align: right;
}
.modelbox table tr>:nth-child(2){
  min-width: 150px;
}
.modelbox table tr>:nth-child(2) input[type=text] {
  min-width: 380px;
}
.modelbox table tr>:nth-child(2) select{
  min-width: 387px;
}
.modelbox-data {
  position: relative;
}
body.view .modelbox-data {
  display: table;
  width: 100%;
}
.modelbox-data-field {
  display: table-row;
}
.modelbox-data-label {
  display: table-cell;
  padding-right: 1.5em;
  border-bottom: 1px dashed #ccc;
}
.modelbox-data-value {
  display: table-cell;
  vertical-align: top;
  border-bottom: 1px dashed #ccc;
}
.modelbox textarea {
  background-color: white;
  border: 1px solid #eee;
}
/* MATCHABLE INFO BOX */
.co-info-matchable {
  background-color: #fff;
  border: 1px solid #53b1f4;
  margin-top: -1.5em;
}
.co-info-matchable-title {
  position: relative;
  background-color: #53b1f4;
  color: white;
  text-align: center;
  margin: 0;
  padding: 4px;
}
.co-info-matchable-title .close-button {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
  color: white;
}
.co-info-matchable-title .close-button:focus {
  border: 1px dotted #ccc;
}
.co-info-matchable > ul {
  padding: 0.75em;
  margin: 0;
  list-style: none;
  line-height: 1em;
}
.co-info-matchable li {
   margin-bottom: 0.5em;
}
.matchable-output ul .material-icons {
  vertical-align: middle;
  margin-right: 0.25em;
  font-size: 18px;
  color: #52ADEA;
}
#co_petition_tandc {
  padding: 0;
  margin:  1em 0 0 0;
}
#co_petition_tandc li {
  list-style: outside none none;
  margin: 0;
  padding: 1em;
}
iframe#tandc_content {
  width: 100%;
  height: 300px;
}
/* INVITATIONS */
.invitation {
  clear: both;
  margin: 1em;
}
.invitation-text {
  font-size: 1.2em;
}
/* PETITIONS */
#view_co_petition .status {
  margin: 0 1em 0 0;
}
#view_co_petition .status.N,
#view_co_petition .status.Y,
#view_co_petition .status.F {
  margin: 0;
  padding: 0.2em 1em;
}
#view_co_petition .status.Y,  /* approved */
#view_co_petition .status.F { /* finalized */
  background-color: #2a2;
  color: white;
}
#view_co_petition .status.N { /* denied */
  background-color: #c33;
  color: white;
}
#view_co_petition .ui-button {
  margin: 0 0 0 0.25em;
}
body.co_petitions.view th,
body.co_petitions.view td,
body.petitionerAttributes th,
body.petitionerAttributes td {
  border: none;
}
#filters {
  width: 50%;
  margin: 0 0 0 2px;
}
#statusFilters {
  background-color: #f5f5f5;
  border: 1px solid #a0c6e3;
  clear: both;
  margin: 1em 0;
  min-height: 2.2em;
  padding: 0 0.5em 0.5em;
}
#statusFilters .checkbox {
  display: inline-block;
  margin: 0.25em 0.5em 0 0;
  color: #222;
  white-space: nowrap;
}
#statusFilters input {
  margin: 4px 4px 0;
}
#statusFilters label {
  vertical-align: top;
}
#statusFilters .submit-button {
  float: right;
  font-size: 0.9em;
  height: 28px;
  line-height: 28px;
  margin: -4px 0 0 0;
  width: 80px;
}
#statusfilter {
  overflow: hidden;
}
#statusfilter .input>label {
  float: left;
}
#statusfilterdialog .required {
  color: black;
}
#statusfilterdialog .submit {
  margin: 0.5em 0;
  float: right !important;
}
body.co_petitions .approve-button .ui-icon,
body.co_petitions .deny-button .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png");
}
body.co_petitions .approve-button {
  background-color: #2a2;
  background-image: none;
  border: 1px solid #191;
  color: white !important;
  font-weight: bold;
}
body.co_petitions .approve-button:hover {
  background-color: #3b3;
}
body.co_petitions .deny-button {
  background-color: #c33;
  background-image: none;
  border: 1px solid #b22;
  color: white !important;
  font-weight: bold;
}
body.co_petitions .deny-button:hover {
  background-color: #d44;
}
/* for T&Cs */
.tc-checkbox-and-label {
  white-space: nowrap;
}
body.co_petitions .ui-dialog {
  left: 15% !important;
  top: 10% !important;
  width: 70% !important;
  padding: 0;
}
#dialog-review {
  height: 270px !important; /* mobile size */
}
/* Pagination */
#pagination {
  margin: 0;
  min-height: 1.5em;
  padding: 0.5em;
  /*background-color: #9FC6E2;*/
  background-color: #186696;
  color: white;
  text-align: center;
}
#pagination a {
  color: white;
}
#pagination .paginationCounter {
  display: block;
  margin-right: 0.5em;
}
#pagination .paginationPrev {
  margin-right: 1em;
  font-size: 0.9em;
}
#pagination .paginationNext {
  margin-left: 1em;
  font-size: 0.9em;
}
#pagination span.current {
  font-weight: bold;
  font-size: 120%;
  position: relative;
  top: 1px;
}
/********************************/
/* My Population - People Index */
/********************************/
/* Listing controls */
.listControl {
  color: #1D5987;
  margin: 0;
  clear: left;
}
.listControl a:hover {
  color: #444;
  text-decoration: none !important;
}
.listControl ul,
.listControl li {
  display: inline-block;
}
.listControl ul {
  margin: 0;
  padding: 0;
}
.listControl li {
  margin-left: 0;
}
#peopleToggle {
  display: none; /* hide on mobile */
}
/* Alpha search  */
#peopleAlphabet {
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ccc;
  font-size: 0.9em;
}
#peopleAlphabet ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
#peopleAlphabet li {
  display: table-cell;
  width: 3.6%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}
#peopleAlphabet li:nth-child(odd) {
  background-color: #e5e5e5;
}
#peopleAlphabet a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  margin: 0;
  color: #666;
}
#peopleAlphabet li.selected a,
#peopleAlphabet li.selected a:hover{
  background-color: #888;
  color: #eee;
}
#peopleAlphabet a:hover {
  background-color: #aed9f9;
  color: #333;
  text-decoration: none;
}
/* PEOPLE LISTING */
#co_people {
  clear: both;
}
#co_people > .co-person {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #fff;
  clear: both;
}
#co_people > div > .person-panel {
  box-sizing: border-box; /* essential */
  margin: 0;
  min-height: 45px;
  position: relative;
  width: 100%;
}
#noResults {
  margin: 1.5em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
}
#co_people .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  /* override jquery default icon positioning */
  float: left;
  margin: 0 0.5em 0 0;
  top: 6px;
}
#co_people .ui-accordion .ui-accordion-content {
  padding: 0;
}
#co_people .person-info {
  float: left;
  margin-top: 6px;
}
#co_people .person-name {
}
#co_people .nameWithoutEmail {
}
#co_people .person-email {
  color: #666;
}
#co_people .person-status {
  display: block;
  font-style: italic;
}
#co_people .person-admin {
  float: right;
  text-align: right;
}
#co_people .person-admin button {
  display: block;
}
#co_people .role-panel {
  margin-left: 25px;
  clear: both;
  position: relative;
  overflow: visible;
}
#co_people .roles-title {
  position: absolute;
  bottom: 10px;
  transform: rotate(-90deg);
  z-index: 1;
  left: -29px;
  font-size: 0.9em;
  color: #bbb;
  text-transform: lowercase;
}
#co_people .role {
  padding: 2px 4px;
}
#co_people .role:first-child {
  padding-top: 4px;
}
#co_people .role:last-child {
  padding-bottom: 4px;
}
#co_people .role:nth-child(even) {
  background-color: #f5f5f5;
}
#co_people .roleinfo {
  margin: 4px 0;
}
#co_people .rolestatus {
  margin: 0;
  font-style: italic;
  background-color: #666;
  color: white;
  padding: 4px;
}
#co_people .roledata {
  width: 100%;
}
#co_people .roletitle {
  width:100%;
}
#co_people .roleTitleLinks {
  margin: 0 4px 0;
  float: left;
}
#co_people .roledates {
  text-align: right;
  margin: 0 30px 0 0;
}
/* people index jquery ui overrides */
#co_people .person-panel {
  border: 1px solid transparent; /* to allow our jquery UI hovers not to change the size of the div */
  background: inherit;
  color: #333;
}
#co_people .ui-state-hover,
#co_people .ui-widget-content .ui-state-hover,
#co_people .ui-widget-header .ui-state-hover,
#co_people .ui-state-focus,
#co_people .ui-widget-content .ui-state-focus,
#co_people .ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background-color: #d0e5f5;
  color: #1d5987;
}
#co_people .ui-state-active,
#co_people .ui-widget-content .ui-state-active,
#co_people .ui-widget-header .ui-state-active {
  border: 1px solid #79b7e7;
  color: #333;
  background-color: #F5F5F5;
}
#co_people .ui-widget-content {
  background-color: #FAFAFA;
}
.ui-sortable tr {
  cursor: move;
}
/* general jquery overrides to fix color contrast WCAG AA */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a.ui-button:link,
a.ui-button:visited,
.ui-button {
  color: #06b;
  text-decoration: none;
}
/* For Top Search (co_people index and org_identity index)
   and Side Search (person canvas) */
.top-search {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #eee;
}
.side-search {
  margin-top: 2em;
}
.top-search legend .material-icons {
  vertical-align: middle;
}
.top-search legend .material-icons.drop-arrow {
  float: right;
  position: relative;
  left: -5px;
  top: -1px;
}
.top-search fieldset {
  position: relative;
  padding: 0;
  margin: 0;
}
.top-search legend {
  width: 100%;
}
a#top-search-toggle {
  display: block;
  width: 100%;
  color: #222;
}
a#top-search-toggle:hover {
  text-decoration: none;
}
#top-search-fields {
  display: none;
}
.top-search input[type=text],
.top-search select,
.side-search input[type=text],
.side-search select {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  height: 28px;
  padding: 2px 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  opacity: 0.2;
}
.top-search input[type=text]:focus,
.side-search input[type=text]:focus {
  background-color: #ffd;
}
.top-search .submit-button,
.top-search .clear-button,
.side-search .submit-button,
.side-search .clear-button {
  float: right;
  font-size: 0.9em;
  width: 80px;
  line-height: 28px;
  height: 28px;
  margin: 0.5em;
}
.top-search label,
.side-search label {
  display: none;
}
/* top filter form, similar to top search */
.top-filter {
  clear: both;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  background-color: #eee;
}
.top-filter .filters {
  position: relative;
  top: 2px;
}
.top-filter select {
  box-sizing: border-box;
  margin: 0;
  height: 28px;
  padding: 2px 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 60%
}
.top-filter .submit-button {
  font-size: 0.9em;
  width: 80px;
  line-height: 24px;
  height: 28px;
  margin: 0.25em;
}
/* SERVICE PORTAL */
#co-services,
#co-departments {
  clear: both;
}
.co-card h2  {
  font-size: 1.2em;
}
.co-card {
  position: relative;
  background-color: #f5f5f5;
  margin: 0 0 1em 0;
  padding: 0.75em 1.25em 1.25em 1.25em;
  min-height: 130px;
  min-width: 90%;
  border: 1px solid #eee;
}
.co-card.is-member {
  border-bottom: 1px solid #07b;
}
.co-card img {
  min-width: 100%;
  max-width: 100%;
  margin: 0 0 0.5em 0;
}
#content .co-card .co-card-icons .material-icons {
  font-size: 2em;
  margin-right: 4px;
}
.co-card .co-card-icons {
  position: absolute;
  bottom: 1em;
  right: 1em;
  margin-top: 0.75em;
}
.co-card-join-button {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.co-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.co-dept {
  border: 1px solid #e0e0e0;
  margin: 1em 0 2em;
}
.co-dept-header {
  background-color: #f5f5f5;
  padding: 0 0.5em;
}
.co-dept-header h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
.co-dept-desc {
  font-style: italic;
}
.co-dept-content {
  padding: 0.5em;
}
.co-dept table {
  overflow-x: scroll;
}
/* PERSON CANVAS */
.personExplorer ul {
  margin: 0;
  padding: 0;
}
.personExplorer li {
  list-style: none;
  margin: 0 0 0.5em 0;
}
.personExplorer a {
  text-decoration: none;
}
.explorerHead {
  height: 20px;
}
.personExplorer li.fieldGroup {
  clear: both;
  margin: 0 0 1em 0;
}
.personExplorer ul.fields {
  margin-bottom: 1em;
}
.fieldGroupName {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.3em 0;
  margin: 1em 0 0 0;
}
.coAddEditButtons {
  float: right;
  clear: left;
}
/* DATA LISTS */
/*** ul.data-list is the main structure for representing data
     in which the field value is to the left, and actions on that
     value are to the right; this is used for canvases and explorers
     where the fields require no (or few) labels.
     see also ul.form-list below. ***/
ul.data-list li {
  margin: 0 0 2px !important;
  overflow: hidden;
  padding: 2px 0 3px 0;
  background-color: #F5F5F5;
}
ul.data-list li:nth-child(2n) {
  background-color: #ededed; /* note that this is slightly lighter than the .form-list zebra */
}
ul.data-table li {
  background-color: unset;
}
.field-actions {
   float: right;
   padding: 2px;
}
.field-data {
  float: left;
  padding: 4px 0 0 10px;
}
.field-data-alone {
  padding: 2px 0 2px 10px;
}
#names-container ul.data-list {
  margin-bottom: 0;
}
#names-container ul.data-list li:last-child {
  margin-bottom: 0;
  border-bottom: 2px solid #ccc;
}
.personExplorer .coAddEditButtons .ui-state-default,
.personExplorer .coAddEditButtons .ui-widget-content .ui-state-default,
.personExplorer .coAddEditButtons .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}
#compare_co_person ul.fields .line1 {
  background-color: transparent;
}
#compare_co_person ul.fields .line0,
#compare_co_person ul.fields .line2 {
  background-color: #f5f5f5;
}
#compare_co_person ul.fields th.ui-widget-header {
  background: none;
  background-color: #F5F5FF;
  color: #333;
}
#view_email_address .checkbutton,
#edit_email_address .checkbutton {
  margin-left: 0.5em;
}
/* Changelog */
#changeLog {
  margin-top: 1em;
}
#changeLog ul {
  margin: 0;
  padding: 0;
}
#changeLog li {
  list-style: none;
  margin: 0 0 0.5em 0;
}
#changeLog a {
  text-decoration: none;
}
#changeLog .additionalinfo {
  padding: 0;
}
#changeLog tr.deleted td {
  background-color: #e33;
  color: white;
}
.explorerContainer #changeLog ul {
  margin-left: 1em;
}
.explorerContainer #changeLog .fieldGroupNameCl {
  border-bottom: 1px solid #eee;
}
.explorerContainer #changeLog .additionalinfo {
  padding: 5px;
}
.fieldGroupNameCl {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.3em 0;
  margin: 1em 0 0 0;
}
#restoreLink {
  margin-bottom: 2em;
}
/* Groups */
#groupMembers {
  margin: 0 0 1em 0;
  padding: 0;
}
#groupMembers td {
  clear: both;
  line-height: 2.1em;
  margin: 0;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
#groupMembers tr:nth-child(odd) td {
  background-color: #f5f5f5;
}
#groupMembers tr:nth-child(even) td {
  background-color: #eee;
}
/* FORMS */
label {
  cursor: pointer;
}
ul.fields li {
  overflow-x: auto; /* required for data tables on mobile */
}
/*** ul.form-list is the main structure for representing forms
     as well as data where field name is in the left column and
     field data is in the right column; see also ul.data-list
     above. ***/
ul.form-list {
  clear: both;
  padding: 0;
}
ul.form-list li {
  background-color: #f5f5f5;
  margin: 0 0 2px;
  padding: 0.5em;
  list-style: none;
}
ul.form-list li:nth-child(even) {
  background-color: #e5e5e5;
}
ul.form-list li.fields-submit {
  background-color: unset;
}
ul.form-list .field-name {
  display: block;
}
ul.form-list .field-title {
  font-weight: bold;
}
ul.form-list .field-info {
  position: relative;
}
ul.form-list .field-desc {
  font-size: 0.9em;
  font-style: italic;
}
ul.form-list .fields-header {
  background-color: #fff;
}
ul.form-list input[type="text"],
ul.form-list input[type="number"],
ul.form-list input[type="password"] {
  width: 95%;
  font-size: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #ddd;
  padding: 4px 6px;
}
ul.form-list input[type="text"]:focus,
ul.form-list input[type="number"]:focus,
ul.form-list input[type="password"]:focus {
  background-color: #ffd;
}
ul.form-list select {
  font-size: 0.9em;
}
ul.form-list li.fields-submit .required {
  font-style: italic;
}
ul.form-list li.modelbox-data #ui-datepicker-div {
  position: relative !important; /* a fix for datepickers appended to fields in the form-list */
  margin: 0 0 0 9px;
}
ul.field-children {
  margin: 0.5em;
  padding: 0;
}
ul.field-children li {
  margin: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
ul.field-children li:nth-child(1) {
  border-top: 1px solid #ccc;
}
ul.field-children li:nth-child(odd) {
  background-color: #f8f8f8;
}
ul.field-children li:nth-child(even) {
  background-color: #ddd;
}
ul.form-list li.field-stack .field-name,
ul.form-list li.field-stack .field-info {
  display: block;
  width: 97%;
}
ul.form-list textarea {
  font-size: 0.9em;
}
ul.form-list li.field-stack textarea {
  margin: 0;
  width: 100%;
  resize: vertical;
}
.checkbox {
  margin-bottom: 0.5em;
}
.checkbox input {
  float: left;
  margin: 4px 4px 0 0;
}
.checkbox label {
  margin-left: 1.5em;
  display: block;
}
.checkbox label::first-line {
  margin-left: 0;
}
.checkbox .subfield {
  margin-left: 1.5em;
}
.checkbox .subfield input {
  float: none;
}
.checkbox .subfield label {
  display: inline;
  margin: 0;
}
/* Ensure datepicker renders properly.
   We are using javascript to move it near its input field so
   that it will scroll properly on mobile devices. */
#ui-datepicker-div table tr > *:first-child,
#ui-datepicker-div table tr > *:nth-child(2) {
  min-width: 0;
  text-align: center;
}
#ui-datepicker-div table tr td:first-child {
  padding-left: 1px;
}
#ui-datepicker-div {
  top: 0 !important;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
/* XXX determine which among the following five rules are still in use */
.required-info {
  float: left;
}
.submit-buttons {
  float: right;
  margin-right: 0.5em;
}
.co-selectfield {
  width: 100%;
  font-size: 1.1em;
  -webkit-appearance: menulist-button;
  border: 1px solid #ddd;
}
.form-error {
  background-color: #fee !important; /* override default focus color */
  border: 1px solid red;
}
.error-message {
  color: red;
  font-size: 0.9em;
}
/* BUTTONS */
#content .co-button .material-icons {
  font-size: 17px;
  margin-right: -8px;
  padding-top: 6px;
}
#content .material-icons {
  font-size: 17px;
  margin-top: 3px;
  vertical-align: top;
}
/* GENERAL */
.hidden,
.invisible {
  display: none;
}
p { /* MDL override */
  font-size: inherit;
  margin: 0 0 1em;
  line-height: 1.6em;
}
ul, ol { /* MDL override */
  font-size: 12px;
  line-height: 20px;
}
.fieldTitle {
  font-weight: bold;
}
.descr {
  font-style: italic; /* used for long descriptions of fields, typically near the field-title */
}
.data-desc {
  margin-left: 0.5em; /* used for short, often parenthesized descriptions of data */
  font-size: 0.9em;
}
.required {
  color: red;
}
.center {
  text-align: center;
}
.vtop {
  vertical-align: top !important;
}
.warn-level-a,
.warn-level-a td {
  background-color: #fcc;
}
.warn-level-b,
.warn-level-b td {
  background-color: #f5f5bb;
}
.asc, .desc {
  font-style: italic;
  text-decoration: none;
}
a.asc::before, a.desc::before {
  position: relative;
  left: -2px;
  font-style: normal;
}
a.asc::before {
  content: "▲"; /*\25b2 in escaped hex*/
  top: -2px;
}
a.desc::before {
  content: "▼"; /*\25bc in escaped hex*/
}
.ui-widget-header {
  /*background-color: #9FC6E2;*/
  background-color: #186696;
}
.ui-button {
  font-size: 0.9em !important;
  padding: 0.3em 0.75em 0.3em 0.5em;
}
.co-grid {
  clear: both;
}
.co-grid .mdl-cell {
  margin: 0;
}
.co-grid .co-grid-header {
  display: none;
}
.co-grid .mdl-grid:nth-child(even) {
  background-color: #f8f8f8;
}
.co-grid > div:nth-child(2) {
  border-top: 1px solid #e8e8e8;
}
code,
.fixed-width * {
  font-family: "Courier New","Courier",monospace !important;
}
/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}
.table-container {
  overflow: auto;
  clear: both;
}
th, td {
  padding: 0.5em;
  text-align: left;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-weight: normal;
}
th {
  /*background-color: #9fc6e2;*/
  background-color: #186696;
  color: white;
}
th a {
  color: white;
}
th a:hover {
  color: #ff3;
  text-decoration: none !important;
}
tr td:first-child {
  padding-left: 1em;
}
tr th:last-child,
tr td:last-child {
  border-right: none;
}
tr.noborder td {
  border: none;
}
th.actionButtons {
  width:70px;
}
/* legacy zebra stripes for rows;
   0 used for autoincrementing line counters; */
.line0 {
  background-color: #e5e5e5;
}
.line1 {
  background-color: #f5f5f5;
}
.line2 {
  background-color: #e5e5e5;
}
td.indented {
  border-left: 3em solid #fff;
}
.menuitembutton {
  width: 250px;
}
.submitCell {
  text-align: right;
}
/* MDL OVERRIDES */
/* See also font-size in body, and in GENERAL ul,li from 14px to 12px */
#main.mdl-layout__content {
  overflow-x: auto; /* allow side scrolling on mobile */
}
.mdl-textfield input[type=text],
.mdl-textfield input[type=number] {
  border-left: none;
  border-top: none;
  border-right: none;
}
.mdl-button.mdl-button--colored,
.mdl-button--raised.mdl-button--colored {
  background-color: #53B1F4;
  color: white;
}
.mdl-button:hover {
  background-color: #f2f2f2;
}
.mdl-button--colored:hover {
  background-color: rgb(33, 150, 243);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #c33; /* red */
  /* background-color: #2BB673; /* green */
  color: #fff;
}
.mdl-button--raised.mdl-button--colored:hover {
  background-color: #222;
}
.mdl-data-table th,
.mdl-data-table td {
  text-align: left;
}
/* FOOTER */
footer {
  text-align: center;
  padding-bottom: 1em;
}