:root {
  --cmg-color-blue-primary: #0c75c0;
  --cmg-color-infobox-yellow: #fbec88;
  --cmg-color-warn-yellow: #fcc;
  --cmg-color-warn-red: #f5f5bb;
  --cmg-color-gray-secondary: #555;
  --cmg-color-gray-disabled: #666;
  --cmg-color-gray-border: #ccc;
  --cmg-color-white: #fff;
  --cmg-color-black-001: #000;
  --cmg-color-black-002: #222;
}