/**
 * COmanage Registry Responsive Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v1.1
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/* Reponsive breakpoints for the COmanage theme are set to 360, 480, 600, 840, 960, 1280, 1440, and 1600dp.
   This is a mobile-first theme.  General and 320 mobile portrait styles are in co-base.css */

/* LARGE PHONE PORTRAIT */
/**************************************************************************************************************/
/* Larger phones (e.g. Samsung Galaxy) in portrait mode */
@media only screen and (min-width: 360px) {
  #notifications {
    margin-right: 4px;
  }
}

/* PHONE LANDSCAPE */
/**************************************************************************************************************/
/* Small phones in landscape mode  */
@media only screen and (min-width: 480px) {
  #notifications {
    margin-right: 12px;
  }
}

/* SMALL TABLET */
/**************************************************************************************************************/
/* Very small devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2em;
    line-height: 2em;
  }
  #logout {
    display: block;
    color: white;
  }
  #user-menu {
    right: 15px;
  }
  #global-search-box #CoDashboardQ {
    width: 204px;
    font-size: 14px;
  }
  #global-search-box .mdl-button {
    position: relative;
    top: -2px;
  }
  #user-common-name {
    display: inline;
    position: relative;
    top: -1px;
  }
  #user-panel {
    min-width: 400px;
  }
  #user-panel-user-info {
    border-top: none;
    margin: 0 80px 0 0;
    padding-top: 0;
  }
  #user-panel-user-info #user-panel-cn {
  }
  #logout-in-panel {
    position: absolute;
    top: 0;
    right: 0;
  }
  #notifications li.notification:nth-child(n+4) { /* show all notifications on tablets (and larger) */
    display: block;
  }
  #content {
    padding: 1em;
  }
  #dialog-review {
    height: 500px !important; /* mobile size */
  }
  /* CO PEOPLE */
  #co_people .rolestatus {
    float: right !important;
    margin: 5px 9px 5px 5px;
    padding: 0;
    background-color: transparent;
    color: #222;
  }
  #co_people .roleTitleLinks {
    margin: 0 1em 0 0;
    float: none;
  }
  #co_people .roleinfo {
    margin: 0;
  }
  #co_people .person-admin button {
    display: inline;
  }
  ul.form-list .field-name {
    display: inline-block;
    min-width: 80px;
    vertical-align: middle;
    width: 30%;
    padding-left: 0.5em;
  }
  ul.form-list .field-info {
    display: inline-block;
    width: 65%;
  }
  ul.form-list-admin .field-name {
    width: 50%;
    padding-right: 1em;
  }
  ul.form-list-admin .field-info {
    width: 40%;
  }
  ul.form-list input[type="text"],
  ul.form-list input[type="number"],
  ul.form-list input[type="password"] {
    width: 97%;
  }
  ul.form-list li.field-stack textarea {
    margin: 0.5em 0 0.5em 0.5em;
  }
  /* ORG IDS */
  body.org_identities.edit ul.form-list .field-name {
    padding-left: 0.75em;
  }
  /* PETITIONS */
  body.view .modelbox .boxtitle {
    margin-right: 2em;
  }
  body.view .modelbox .modelbox-data {
    margin-top: 0.5em;
    width: 65%;
  }
  #petition .field-name-status {
    float: left;
  }
  /* PETITION ATTRIBUTES */
  .modelbox .mdl-textfield {
    display: block;
    width: 100%;
  }
  .modelbox .boxtitle {
    float: left;
    width: 25%;
    padding: 5px 0 5px 8px;
  }
  .modelbox .mdl-textfield,
  .modelbox .mdl-selectfield {
    float: right;
    width: 70%;
  }
  .modelbox-data-label {
    width: 120px;
  }
  #dialog-review {
    height: auto !important; /* desktop size */
  }
  #ui-datepicker-div {
    left: 30% !important;
  }
  /* MATCHABLE INFO BOX */
  .co-info-matchable {
    float: right;
    width: 70%;
  }
  /* SEARCH PAGE */
  #search input#CoDashboardQ {
    width: 300px;
    font-size: 14px;
  }
  /* PAGINATION */
  #pagination {
    text-align: left;
  }
  #pagination .paginationCounter {
    float: right;
    margin-right: 0.5em;
  }
  footer {
    text-align: right;
    padding: 1em 2em;
  }
}

/* SMALL DESKTOP - Primary breakpoint */
/**************************************************************************************************************/
/* Small devices (desktops, 840px and up) */
@media only screen and (min-width: 840px) {
  /*** START MDL OVERRIDES ***/
  /*** Layout overrides to MDL breakpoint - from 1024 to 840 ***/
  /* header */
  .mdl-layout__container.has-scrolling-header .mdl-layout__content {
    overflow-x: visible;
    overflow-y: visible;
  }
  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    /* override mdl to always make header full width and set the height */
    margin-left: 0;
    width: auto;
  }
  .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    padding-left: 12px;
    height: 64px;
  }
  /* navigation / side drawer */
  /* mdl drawer overrides - change the drawer breakpoint from 1025 to 840 */
  .mdl-layout--fixed-drawer > .mdl-layout__drawer {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .mdl-layout__drawer {
    top: 64px; /* never cover header */
    box-shadow: none; /* use no shadow on desktop menu */
  }
  body.logged-in .mdl-layout__drawer {
    top: 94px;
  }
  .mdl-layout__drawer-button {
    display: none; /* never show native mdl drawer button on desktop - we use custom behavior */
  }
  /* show our custom navigation icon for shrinking and expanding the drawer in desktop mode */
  #desktop-hamburger {
    display: inline-block;
    float: left;
    position: relative;
    top: 3px;
    margin: 0;
    padding: 0 0 0 12px;
    color: #f5f5f5;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
  }
  /* menu drawer half-closed styles */
  #navigation-drawer.half-closed {
    width: 48px;
    transition: width 0.1s ease;
  }
  #main.drawer-half-closed {
    margin-left: 48px !important;
    transition: margin 0.1s ease;
  }
  #navigation-drawer.half-closed .menuTitle,
  #navigation-drawer.half-closed .arrow {
    display: none;
  }
  /* mdl content overrides */
  .mdl-layout__content {
    margin-left: 240px !important;
    position: relative;
    z-index: 3;
    background-color: white;
  }
  #main.mdl-layout__content {
    overflow-x: visible;
  }
  body.title-hidden .mdl-layout__content {
    margin-top: 0;
  }
  body.logged-out .mdl-layout__content {
    margin-left: 0 !important;
    margin-top: 0;
  }
  /*** END MDL OVERRIDES ***/

  /* HEADER */
  #banner {
    z-index: 8;
  }
  #logo {
    width: auto;
    right: 2em;
    margin-top: 4px;
  }
  #user-menu {
    z-index: 30;
  }
  #user-menu a.topMenu {
    color: white;
  }
  body.title-hidden #user-menu a.topMenu {
    color: #222;
  }
  #notifications #notifications-menu {
    width: 400px;
  }
  /* USER DEFINED LINKS (top) */
  #user-defined-links-left {
    display: none;
  }
  #user-defined-links-top  {
    display: inline-block;
    background-color: #222;
    color: white;
  }
  #user-defined-links-top .custom-links li {
    display: inline-block;
  }
  #user-defined-links-top .custom-links a {
    color: white;
  }

  /* RIGHT SIDEBAR */
  .sidebar {
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 10px;
    padding-bottom: 2em;
    min-height: 100%;
    position: absolute;
    right: 0;
    width: 247px;
  }
  #topLinks {  /* content links */
    float: right;
    margin: 1.5em 0 0 0;
  }
  #collaborationTitle {
    min-height: 46px;
    font-size: 2.4em;
    line-height: 1.6em;
    padding-right: 240px;
  }
  .co-grid .mdl-cell {
    margin: 8px;
  }
  .co-grid .co-grid-header {
    display: flex;
    background-color: #e5e5e5 !important;
    font-weight: bold;
  }
  .side-search {
    margin: 2em 1em;
  }
  /* REDIRECT PAGE */
  #redirect-box {
    margin: 4em auto;
    padding: 2em;
    width: 320px;
    position: relative;
    left: -120px; /* offset the drawer margin */
  }
  /********************************/
  /* My Population - People Index */
  /********************************/
  /* Listing sorter */
  #sorter {
    float: right;
  }
  /* Listing controls */
  .listControl li {
    margin-left: 0.5em;
  }
  #peopleToggle {
    display: block;
  }
  .top-search .search-field-subgroup {
    float: left;
    width: 49%;
  }
  .search-field-subgroup:nth-child(1) {
    margin-right: 0.5em;
  }
  .top-search .clear-button {
    float: right;
  }
  /* PEOPLE LISTING */
  #co_people .person-info-inner {
    float: left;
    width: 200px;
  }
  #co_people .person-status {
    float: left;
    width: 100px;
  }
  /* PERSON and ORGID CANVAS*/
  .personExplorer ul ul {
    margin-left: 1em;
  }
  /* PETITION ATTRIBUTES */
  .modelbox {
    margin: 0 0 1em 1em;
  }
  body.petitionerAttributes .modelbox {
    margin: 0 0.5em 1.5em 0;
  }
  /* DASHBOARDS and WIDGETS */
  /* Service Portal */
  .co-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
  }
  .co-card {
    float: left;
    margin: 0 1.25em 1.25em 0;
    padding: 0.75em 1.25em 4em 1.25em;
    min-height: 150px;
    min-width: 0;
    width: 180px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
    box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
  }
  .co-dept ul.form-list .field-title {
    font-weight: normal;
  }
  .co-card img {
    float: right;
    min-width: 50%;
    max-width: 50%;
    margin: 0 0 0.5em 0.5em;
  }
  .co-card .co-card-icons {
    position: absolute;
    bottom: 1em;
    right: 1em;
    float: none;
  }
  .co-card-join-button {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  /* Announcements Widget */
  .widget-list li {
    padding: 1.25em 1.5em;
    margin: 0 0.25em 1.25em 0;
    border: 1px solid #eee;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
    box-shadow: 1px 1px 1px 0px rgba(245,245,245,1);
  }
  .widget-list .announcement-title {
    float: left;
  }
  .widget-list .announcement-meta {
    float: right;
  }
  .widget-list .announcement-body {
    clear: both;
  }
  .widget-actions {
    margin: -2.5em 0.5em 1em 0;
    float: right;
  }
  .widget-actions li {
    margin-left: 1em;
  }
  /* GENERAL */
  .two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
  }
  .three-col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
  }

}

/* MEDIUM DESKTOP */
/**************************************************************************************************************/
/* Medium devices (desktops, 960px and up) */
@media only screen and (min-width: 960px) {
  #co_people .person-info-inner {
    width: 250px;
  }
  #co_people .person-status {
    width: auto;
  }
  #right-sidebar #menu {
    padding-left: 1em;
  }
}

/* MDL override */
/*@media screen and (max-width: 1024px) {
  .mdl-layout__container.has-scrolling-header .mdl-layout__content {
    overflow-x: visible;
    overflow-y: visible;
  }
}*/

/* MID-LARGE DESKTOP */
/**************************************************************************************************************/
/* Mid to large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  #co_people .person-info-inner {
    width: 300px;
  }
}

/* LARGE DESKTOP */
/**************************************************************************************************************/
/* Large devices (desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  #co_people .person-info-inner {
    width: 550px;
  }
}