/**
 * COmanage Registry Default Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v0.9
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/* TINY */
/**************************************************************************************************************/
/* All mobile views smaller than iPad portrait mode */
@media only screen and (max-width: 767px) {

}

/* SMALL */
/**************************************************************************************************************/
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* SMALL & TINY */
/**************************************************************************************************************/
/* All devices smaller than 992px */
@media only screen and (max-width: 991px) {
  .contentWidth {
    margin: 0 1em;
  }
  #co_people .panel1,
  #co_people .panel2 {
    width: 94%;
  }
  .sidebar {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
  }
  #menu {
    border: none;
  }
  #menu li,
  #menu li a {
    display: inline-block;
    width: auto;
  }
  .modelbox table tr > *:first-child {
     min-width: 50px !important;
   }
  #coPeopleSearch .input {
    width: 11.5%;
  }
  #orgIdSearch .input {
    width: 8.5%;
  }
}

/* MEDIUM */
/**************************************************************************************************************/
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
  .contentWidth {
    max-width: 960px;
  }
  /* Sidebar (right) */
  .sidebar {
    background-color: #F5F5F5;
    border-left: 1px solid #4297D7;
    border-bottom: 1px solid #4297D7;
    margin: 0;
    padding: 10px;
    padding-bottom: 2em;
    min-height: 100%;
    position: absolute;
    right: 0;
    width: 247px;
  }
  .contentWithSidebar {
    width: 685px !important;
  }
  #co_people .panel1,
  #co_people .panel2 {
    width: 910px;
  }
  #coPeopleSearch .input {
    width: 13.2%;
  }
  #orgIdSearch .input {
    width: 9.9%;
  }
}

/* WIDE */
/**************************************************************************************************************/
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contentWidth {
    max-width: 1200px;
  }
  .contentWithSidebar {
    width: 900px !important;
  }
  #co_people .panel1,
  #co_people .panel2 {
    width: 1150px;
  }
  #coPeopleSearch .input {
    width: 14%;
  }
  #orgIdSearch .input {
    width: 10.4%;
  }
}

/* EXTRA WIDE */
/**************************************************************************************************************/
/* Large devices (large desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {
  .contentWithSidebar {
    width: 1200px !important;
  }
  #co_people {
    width: 1200px;
  }
  #co_people .panel1,
  #co_people .panel2 {
    width: 1150px;
  }
}
