/**
 * COmanage Registry Default Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v0.1
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/* Body */
body {
  font: 75% "Trebuchet MS", sans-serif;
  width: auto;
  margin: 0 auto;
}
.contentWidth {
  margin: auto;
  min-width: 620px;
}
.innerContent {
  clear: both;
}
#coSpinner {
  position: fixed;
  left: 50%;
  top: 40%;
}

/* General */
.hidden,
.invisible {
  display: none;
}
.fieldTitle {
  font-weight: bold;
}
tr.noborder td {
  border: none;
}

/* Text */
.descr {
  font-style: italic; /* used for long descriptions of fields */
}
.dataDesc {
  margin-left: 0.5em; /* used for short, often parenthesized descriptions of data */
  font-size: 0.9em;
}
.largefont {
  font: 200% "Trebuchet MS", sans-serif;
}
.required {
  color: red;
}
.asc, .desc {
  font-style: italic;
  text-decoration: none;
}
a.asc::before, a.desc::before {
  position: relative;
  left: -2px;
  font-style: normal;
}
a.asc::before {
  content: "▲"; /*\25b2 in escaped hex*/
  top: -2px;
}
a.desc::before {
  content: "▼"; /*\25bc in escaped hex*/
}

/* Positioning */
.right {
  float: right;
}

/* Header and Top Nav */
#row1 {
  background-color: #333;
  color: white;
  padding: 0 0 4px 0;
  height: 26px;
}
#collaborationTitle {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-weight: normal;
}
.headerLeft {
  margin: 0;
  padding: 0;
  color: #333;
}
.headerRight {
  float: right;
  clear: both
}
nav span {
  float: left;
}
nav .ui-icon {
  position: relative;
  top: -3px;
}
.rightmenu {
  float: right;
}

/*** Globals settings for dropdown sf-menu ***/
/* widths and heights need to match in the following selectors
   for the sf menus to align */
.sf-menu {
  cursor: pointer;
  margin-bottom: 0;
}
.sf-sub-indicator {
  background: url("../img/arrows-333333.png") no-repeat scroll -10px -100px rgba(0, 0, 0, 0);
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 30px;
}
.sf-menu ul {
  width: 14em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left:	17em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left:	17em;
}
ul.sf-menu li.dropMenu li a:hover {
  background-color: #e5e5e5 !important;
}

/*** Name / Platform Dropdown Menus ***/
.row1-dropdown {
  margin: 0;
  padding: 0;
}
.row1-dropdown li.dropMenu a.menuTop {
  background-color: transparent;
  color: #ccc;
  border: none;
  cursor: default;
}
.row1-dropdown li.dropMenu a.menuTop:hover {
  color: #fff;
}
.row1-dropdown .sf-menu ul:first-child {
  display: block !important;
  visibility: visible !important;
}
.row1-dropdown li.dropMenu a {
  background-color: #eee;
  color: #333;
}
.row1-dropdown .sf-menu li {
  color: #ccc;
  background-color: #333;
}
.row1-dropdown .sf-menu a {
  color: #ccc;
  background-color: #333;
}
#co-top-id {
  display: none;
  background-color: #333;
  font-style: italic;
  position: absolute;
  top: 6px;
  right: 100%;
  text-align: right;
}
#co-top-id-arrow {
  border-left: 8px solid #aaa;
  height: 0;
  width: 0;
  z-index: 200;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  position: absolute;
}
#co-top-id-name {
  border: 1px solid #aaa;
  padding: 2px 5px;
}
#comanage-gear {
  background: #333 url("../img/comanage-gear.png") top left no-repeat;
  height: 13px;
  margin: 0 4px 0 0;
  width: 13px;
}
/* platform menu can be thinner */
#platform .sf-menu ul {
  width: 11em;
}
#platform ul.sf-menu li li:hover ul,
#platform ul.sf-menu li li.sfHover ul {
  left:	11em;
}
#platform .ui-icon {
  margin: 1px 1px 0 0;
  height: 18px;
  width: 18px;
  background-image: url("jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_cccccc_256x240.png");
}

/*** Custom Links in Row1 ***/
#links {
  white-space: nowrap;
}
#links ul {
  padding: 0;
  margin: 0;
}
#links li {
  display: inline-block;
  list-style: none;
  margin: 7px 5px 5px 5px;
  padding-left: 9px;
  border-left: 1px solid #666;
}
#links li:first-child {
  border-left: none; /* gets rid of first pipe */
  padding-left: 0;
}
#links a,
#links a:visited {
  color: #ccc;
  text-decoration: none;
}
#links a:hover {
  color: white;
}

/*** Secondary Menu ***/
#secondaryMenu {
  margin-right: 5px;
}
#secondaryMenu div {
  float: left;
  color: #ccc;
}

/*** Notification ***/
#notification {
  height: 18px;
  padding: 2px 6px;
  margin: 4px 0 3px 5px;
  background-color: #C33;
  /*border-radius: 5px;*/
  cursor: pointer;
}
#notification ul {
  padding: 0;
  margin: 0;
} /*overrides default excess space*/

#notification>ul>li {
  background-color: #C33;
  margin: 3px 5px 2px 2px;
}
#notification .sf-menu a.menuTop {
  color: white;
  border: none;
  padding: 0 0.25em;
  cursor: default;
}
#notification span,
#notification a {
  color: white;
}
#notification .ui-icon {
  width: 13px;
  height: 13px;
  background-image: url("jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png");
  left: 3px;
}
#notification ul li ul {
  margin-left: -207px;
  margin-top: -10px;
  min-width: 250px;
  padding: 0;
}
#notification ul li ul li:hover {
  background: none;
  color: #333;
}
#notification .sectionTitle {
  margin: 0 5px 0 5px;
  font-size: 14px;
}
#notification .names {
  margin: 0;
  line-height: 16px;
  color: #333;
}
#notification .see-all a {
  font-style: italic;
  background-color: #e5e5e5 !important;
}
#notification .see-all a:hover {
  background-color: #ddd !important;
}
#notification .titleColor,
#notification ul li ul a {
  color: #333 !important;
  background-color: #eee !important;
}
#notification ul li ul a:hover {
  color: #333 !important;
  background-color: #e5e5e5 !important;
}
#notification .seeOther {
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}
form#notificationStatus select {
  font-size: 1.1em;
  margin: 0 0 0.5em 0.5em;
}
/* General icon and box styling */
.co-info {
  float: left;
  margin-right: .3em;
}
.co-info-topbox {
  padding: 0 .7em;
  clear: both;
}
.co-alert {
  float:left;
  margin:0 7px 20px 0;
}
/*** Logout button ***/
#logout a {
  display: block;
  color: white;
  text-decoration: none;
  height: 18px;
  padding: 3px 14px 1px 14px;
  margin: 4px 5px;
  background-color: #C33;
  cursor: pointer;
}

/*** header row 2 ***/
#row2 {
  clear: both;
  position: relative;
  background-color: #8FBCDB;
  padding: 5px 0;
  border: none;
}

/*** dropdown menu ***/
#row3 {
  height: 30px;
  background-color: #eee;
  color: #333;
  border-bottom: 1px solid #ccc;
  clear: both;
}
#row3 li.dropMenu a.menuTop {
  height: 1em;
  border-left: none;
  border-right: 1px solid #ddd;
  border-top: none;
  background-color: transparent;
  cursor: default;
}
#row3 li.collabMenu {
  float: right;
  border-left: 1px solid #ddd;
}
#row3 li.collabMenu ul {
  left: auto;
  right: 0;
}
#row3 li.peopleMenu a.menuTop {
  border-left: 1px solid #ddd;
}
a.menuTop > .sf-sub-indicator {
  position: relative;
  right: -2px;
  top: 0;
}
#row3 li.dropMenu a {
  background-color: #eee;
  color: #333;
}
#row3 .sf-menu {
  float: none;
}
#row3 .sf-menu li {
  color: #333;
  background-color: transparent;
}
#row3 .sf-menu a {
  color: #ccc;
  background-color: #333;
}

/* Breadcrumbs */
#breadcrumbs {
  font-size: 0.8em;
  padding: 0;
  margin: 8px 0 0 0;
}

/* Content */
#content {
  display: inline-block;
  width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 200%;
  font-weight: normal;
}
#titleNavContainer {
  padding: 16px 0;
}
h2 {
  font-size: 150%;
}
.pageTitle {
  display: inline-block;
}
#main.footerSpecial {
  margin-bottom: 150px;
}
/* removes extra padding in lists of button links */
a.linkbutton:last-child {
  padding-right: 0px;
}
#fpDashboard {
  margin: 3em 0 2em 0;
}
#fpDashboard h2 {
  font-weight: normal;
  font-size: 1.6em;
}
#fpDashboard h2.loginMsg {
  margin-bottom: 10em;
}
#fpDashboard h3 {
  margin: 1.5em 0 0 0;
  font-weight: normal;
  font-size: 1em;
  padding: 0.5em;
  background-color: #8fbcdb;
}
#firstPrompt {
  font-size: 1.5em;
  margin: 2em 0 10em;
}
#fpCoList {
  margin-top: 1em;
}
table caption {
  font-weight: bold;
  margin-left: 0.5em;
  text-align: left;
}

/* Messages */
.noty_text{
  font-weight: bold;
}
.noty_icon{
  display: inline-block !important;
  position: relative;
  top: 3px;
}
.warbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_826262_256x240.png") !important;
}
.sucbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_006400_256x240.png") !important;
}
.errbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png") !important;
}
.notbg{
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_444444_256x240.png") !important;
}

/* Notification table */
.notificationStatus {
  float: left;
  margin-right: 1em;
  margin-top: 5px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 0.5em;
  text-align: left;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
tr td:first-child {
  padding-left: 1em;
}
tr th:last-child,
tr td:last-child {
  border-right: none;
}
td.actions {
  white-space: nowrap;
}
th.actionButtons {
  width:70px;
}
/* zebra stripes for rows; 0 used for autoincrementing line counters */
.line0 {
  background-color: #e5e5e5;
}
.line1 {
  background-color: #f5f5f5;
}
.line2 {
  background-color: #e5e5e5;
}
td.indented {
  border-left: 3em solid #fff;
}
.menuitembutton {
  width: 250px;
}
.submitCell {
  text-align: right;
}

/* Forms */
form {
  clear: both;
}
input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: 0.4em;
}
input[type="text"],
 input[type="number"] {
   border: 1px solid #ccc;
   padding: 3px;
   width: 80%;
 }
textarea {
  width: 80%;
  resize: both;
}
input[type="text"]:focus,
input[type="number"]:focus {
  background-color: #ffd;
  border: 1px solid #999;
}
fieldset {
  margin-top: 25px;
}
fieldset.borderless {
  padding: 0;
  border: 0;
  margin-top: 25px;
}
label,
.checkbox,
.checkbox label,
.checkbox input {
  cursor: pointer;
}
.form-error {
  background-color: #fee !important; /* override default focus color */
  border: 1px solid red;
}
.error-message {
  font-style: italic;
  color: red;
}
.select-name {
  font-size: 1.4em;
}
form .submit {
  float: left;
}
.submitButton {
  float:left;
  margin:0 10px 0 0;
}
select {
  -webkit-appearance: menulist-button;
  height: 2em;
}
td.top {
  vertical-align: top;
}

/* Tabbed Boxes */
.coTabsContainer {
  float:left;
  height:auto;
  width: 100%;
}
.coTabs {
  min-height:350px;
}
/* For Top Search (co_people index and org_identity index) */
.topSearch {
  /*height: 38;*/
  padding: 0.5em;
  background-color: #eee;
  text-align: right;
  white-space: nowrap;
}
.topSearch legend {
  float: left;
  margin: 0;
  padding: 5px 8px 0 4px;
  color: #666;
}
.topSearch fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.topSearch .input {
  float: left;
  margin-right: 2px;
}
.topSearch input[type=text] {
  width: 92%;
  height: 18px;
  padding: 2px 4px;
  border: 1px solid #ddd;
}
#orgIdSearch {
  margin: 0.5em 0;
  min-height: 28px;
}
#orgIdSearch.topSearch input[type=text] {
   width: 88%;
}
.topSearch label {
  display: none;
}
.topSearch select {
  color: #777;
  background-color: #fff;
  width: 98%;
  height: 24px;
  margin: 0;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 2px 4px;
  border: 1px solid #ddd;

}
.topSearch option[value=''] {
  font-style: italic;
}
.topSearch .submit,
.topSearch .clearButton {
  float: right;
}
.topSearch .ui-button {
  font-size: 1em;
  height: 24px;
}
#topLinks {
  float: right;
  margin: 1em 0 0 0;
}
#topLinks .ui-icon {
  float: left;
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_217bc0_256x240.png");
}
#topLinks.ui-widget-content {
  border: none;
}
#topLinks li {
  list-style: none;
  display: inline-block;
}
#topLinks a {
  text-decoration: none;
  color: #1d5987;
  /* override ui-icon settings: */
  border: none;
  background: none;
  background-color: white;
}
#topLinks a:hover {
  color: #222;
}
/* For Advanced Search box */
#advancedSearch {
  margin-top: 0.5em;
}
#advancedSearch .ui-accordion-header {
  font-weight: normal;
}
#advancedSearch .ui-accordion-content {
  padding: 0px;
}
#advancedSearch td {
  border: none;
}
#advancedSearch td label{
  top: 4px;
  position: relative;
}
#advancedSearch input,
#advancedSearch select {
  float: right;
  clear: both;
  width: 120px;
}
#advancedSearch select {
  width: 146px;
}
#advancedSearch .submit {
  float: right;
}
/* For enrollment form */
#formbox {
  background-color: #F3F4F3;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
#formbox .title {
  font-size: 14px;
}

/* Enrollment flow form */
#edit_co_enrollment_configuration textarea,
#edit_co_enrollment_configuration input[type=text] {
  width: 522px;
}
#org_attributes {
  margin-top: 1.5em;
}

/* 2-column layout */
.twocolumn{
  border: solid gray 2px;
  float: left;
  margin: 0 30px 0 15px;
  padding: 10px;
  width: 365px;
}
.twocolumn .ui-widget-header{
  padding: 0 5px;
  overflow: hidden;
}
.twocolumn .ui-widget-header div {
  margin: 8px 0;
  float: left;
}
.twocolumn input[type="text"]{
  width: 230px;
}
.additionalinfo{
  margin: 0 0 5px 0;
}
.additionalinfo > div {
  margin: 0 0 2px;
  overflow: hidden;
  padding: 2px 0 3px 0;
  background-color: #F5F5F5;
}
.additionalinfo > div:hover {
  background-color: #eee;
}
.additionalinfo > div:last-child {
  margin: 0;
}
.additionalinfo > div>div:first-child{
  float: left;
  padding: 7px 0 0 10px;
}
.additionalinfo > div > div:last-child{
  float: right;
  padding-left: 5px;
}
.additionalinfo div a {
  float: left;
}
.additionalinfo div .ui-button {
  float: right;
}
.additionalinfo li {
  margin: 0 0 2px;
  overflow: hidden;
  padding: 2px 0 3px 0;
  background-color: #F5F5F5;
}
.additionalinfo li .actionButtons {
  float: right;
}
.additionalinfo .fieldData {
  padding: 0.5em;
}
#OrgIdentityEditForm .addbutton,
#view_org_identity .addbutton,
#CoPersonEditForm .addbutton,
#CoPersonRoleEditForm .addbutton,
#CoPersonCanvasForm .addbutton,
.noborder .addbutton,
.noborder .editbutton {
  float: right;
  clear: left;
}

/* Drag/drop ordering */
td.order .ui-icon{
  float: left;
}
td.order {
  padding-left: 18px;
}

/* Sidebar (right) */
.sidebar {
  background-color: #F5F5F5;
  margin: 1em 0 0 0;
  padding: 10px;
}
#menu li,
#menu li a {
  display: block;
}
.ui-menu-item {
  border: 1px solid transparent; /* provide space for the hover effect border */
}
#advancedSearch {
  clear: both;
}

/* Person Explorer */
.personExplorer ul {
  margin: 0 0 0 1em;
  padding: 0;
}
.personExplorer ul.topList {
  margin: 0;
}
.personExplorer li {
  list-style: none;
  margin: 0 0 0.5em 0;
}
.personExplorer .fieldGroupName .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons-16px.png") !important;
  float: left;
  opacity: 0.6;
}
.personExplorer a {
  text-decoration: none;
}
.explorerHead {
  height: 20px;
}
.personExplorer li.fieldGroup {
  clear: left;
  margin: 0 0 1em 0;
}
.personExplorer ul.fields {
  margin-bottom: 1em;
}
.fieldGroupName {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  color: #2E6E9E;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.3em 0;
  margin: 1em 0 0 0;
}
body.co_petitions.view #titleNavContainer,
body.co_person_roles #titleNavContainer,
body.co_people.canvas #titleNavContainer {
  padding-bottom: 0;
}
.personExplorer .coAddEditButtons .ui-state-default,
.personExplorer .coAddEditButtons .ui-widget-content .ui-state-default,
.personExplorer .coAddEditButtons .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}
#compare_co_person ul.fields .line1 {
  background-color: transparent;
}
#compare_co_person ul.fields .line0,
#compare_co_person ul.fields .line2 {
  background-color: #f5f5f5;
}
#compare_co_person ul.fields th.ui-widget-header {
  background: none;
  background-color: #F5F5FF;
  color: #333;
}
#view_email_address .checkbutton,
#edit_email_address .checkbutton {
  margin-left: 0.5em;
}
/* Changelog */
#changeLog {
  margin-top: 1em;
}
#changeLog ul {
  margin: 0;
  padding: 0;
}
#changeLog li {
  list-style: none;
  margin: 0 0 0.5em 0;
}
#changeLog .fieldGroupNameCl .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons-16px.png") !important;
  float: left;
  opacity: 0.6;
}
#changeLog a {
  text-decoration: none;
}
#changeLog .additionalinfo {
  padding: 0;
}
#changeLog tr.deleted td {
  background-color: #e33;
  color: white;
}
.pageTitle .deleted,
.pageTitle .archived {
  background-color: #e33;
  color: white;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-left: 0.25em;
  padding: 0 4px;
  text-transform: uppercase;
}
.pageTitle .archived {
  background-color: #444;
}
.fieldGroupNameCl {
  display: block;
  color: #2E6E9E;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.3em 0;
}
.co_people #changeLog {
  margin-left: 1em;
}
.co_people #changeLog ul {
  margin-left: 1em;
}
.co_people #changeLog .fieldGroupNameCl {
  border-bottom: 1px solid #eee;
}
.co_people #changeLog .additionalinfo {
  padding: 5px;
}
#restoreLink {
  margin-bottom: 2em;
}
/* Petitions */
#petition {
}
#view_co_petition .status {
  margin: 0 1em 0 0;
}
#view_co_petition .status.N,
#view_co_petition .status.Y,
#view_co_petition .status.F {
  margin: 0;
  padding: 0.2em 1em;
}
#view_co_petition .status.Y,  /* approved */
#view_co_petition .status.F { /* finalized */
  background-color: #2a2;
  color: white;
}
#view_co_petition .status.N { /* denied */
  background-color: #c33;
  color: white;
}
#view_co_petition .ui-button {
  margin: 0 0 0 0.25em;
}
body.co_petitions.view th,
body.co_petitions.view td,
body.petitionerAttributes th,
body.petitionerAttributes td {
  border: none;
}
#filters {
  width: 50%;
  margin: 0 0 0 2px;
}
#statusFilters {
  border: 1px solid #a0c6e3;
  padding: 0.5em;
  min-height: 2.2em; /* accommodate submit height */
  margin-top: -0.5em;
  margin-bottom: 0.25em;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f5f5f5;
}
#statusFilters .checkbox {
  display: inline-block;
  margin: 0.25em 0.5em 0 0;
  color: #222;
}
#statusFilters .submit {
  float: right;
}
#statusfilter {
  overflow: hidden;
}
#statusfilter .input>label {
  float: left;
}
#statusfilterdialog .required {
  color: black;
}
#statusfilterdialog .submit {
  margin: 0.5em 0;
  float: right !important;
}
#petitionerMatchResults {
  margin: 0 0 1em 0;
  padding: 0;
}
#petitionerMatchResults h3 {
  margin: 0.5em 0 0 0;
}
#petitionerMatchResults ul {
  margin: 0.5em 0 1em 0;
}
body.co_petitions .approve-button .ui-icon,
body.co_petitions .deny-button .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png");
}
body.co_petitions .approve-button {
  background-color: #2a2;
  background-image: none;
  border: 1px solid #191;
  color: white;
  font-weight: bold;
}
body.co_petitions .approve-button:hover {
  background-color: #3b3;
}
body.co_petitions .deny-button {
  background-color: #c33;
  background-image: none;
  border: 1px solid #b22;
  color: white;
  font-weight: bold;
}
body.co_petitions .deny-button:hover {
  background-color: #d44;
}
/* Enrollment Flow Steps */
#enrollmentFlowIntro {
  margin-left: 2em;
}
.enrollmentFlowStartButton {
  margin: 1em 0 3em 2em;
}
#enrollmentFlowSteps h3 {
  margin: 0.5em;
}
#enrollmentFlowSteps ul {
  margin: 1em 0 0 0.5em;
  padding: 0;
}
#enrollmentFlowSteps li {
  list-style: none;
  margin-bottom: 0.75em;
}
#enrollmentFlowSteps .ui-icon {
  float: left;
  clear: left;
  margin-right: 0.5em;
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_444444_256x240.png");
}
#enrollmentFlowSteps li.selected {
  background-color: #fff;
  border: 1px solid #8dbbdd;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 1em;
}
#enrollmentFlowSteps li.incomplete {
  font-style: italic;
  color: #888;
}
#enrollmentFlowSteps li.incomplete .stepText {
  color: #222;
}
#enrollmentFlowSteps li.complete .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_6eac2c_256x240.png");
}
#enrollmentFlowSteps li.stopped .ui-icon {
  background-image: url("../js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_cd0a0a_256x240.png");
}

/* Redirect Page */
#redirect-box {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  width: 320px;
}
#redirect-spinner {
  padding: 1em 1em 2em;
  position: relative;
}

/* Petition Attributes */
.modelbox {
  border: 1px solid #8DBBDD;
  margin: 0 0 1em 0;
  padding: 9px 38px;
  background-color: #f8f8f8;
}
.modelbox .line0,
.modelbox .line1,
.modelbox .line2 {
  background-color: transparent;
}
.boxtitle{
  padding: 0 0 5px 0;
}
.modelbox table tr>:first-child{
  min-width: 200px;
  text-align: right;
}
.modelbox table tr>:nth-child(2){
  min-width: 150px;
}
.modelbox table tr>:nth-child(2) input[type=text] {
  min-width: 380px;
}
.modelbox table tr>:nth-child(2) select{
  min-width: 387px;
}
/* Groups */
#groupMembers {
  margin: 0 0 1em 0;
  padding: 0;
}
#groupMembers td {
  clear: both;
  line-height: 2.1em;
  margin: 0;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
#groupMembers tr:nth-child(odd) td {
  background-color: #f5f5f5;
}
#groupMembers tr:nth-child(even) td {
  background-color: #eee;
}
/* Demographics */
#add_co_nsf_demographic .checkbox,
#edit_co_nsf_demographic .checkbox {
  clear: left;
  margin-bottom: 0.5em;
}
#add_co_nsf_demographic .checkbox input,
#edit_co_nsf_demographic .checkbox input {
  float: left;
  margin: 0 4px 8px 0;
}

/********************************/
/* My Population - People Index */
/********************************/
/* Listing Sorter */
#sorter {
 float: right;
}
/* Alpha search  */
#peopleAlphabet {
  margin: 0;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ccc;
}
#peopleAlphabet ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
#peopleAlphabet li {
  display: table-cell;
  width: 3.8%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}
#peopleAlphabet li:nth-child(odd) {
  background-color: #e5e5e5;
}
#peopleAlphabet a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  margin: 0;
  color: #666;
}
#peopleAlphabet li.selected a,
#peopleAlphabet li.selected a:hover{
  background-color: #888;
  color: #eee;
}
#peopleAlphabet a:hover {
  background-color: #ffe;
  color: #333;
}
/* Listing controls */
.listControl {
  color: #1D5987;
  margin: -1em 0 1em 0;
}
.listControl a {
  color: #181CF5;
}
.listControl a:hover {
  color: #444;
  text-decoration: none;
}
.listControl ul,
.listControl li {
  display: inline;
}
.listControl ul {
  margin: 0;
  padding: 0;
}
.listControl li {
  margin-left: 0.5em;
}
/* People Listing */
#co_people {
  clear: both;
}
#co_people > .ui-accordion {
  margin: 0 0 2px;
  overflow: hidden;
  padding: 5px;
}
#co_people > div > .panel1{
  float: left;
  margin: 0 10px 0 0;
}
#co_people .roleTitleLinks {
  margin-right: 1em;
}
#noResults {
  margin: 1.5em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
}
.panel2 {
  padding: 0 0 0 10px !important;
  margin-left: 25px;
}
.panel1 div,
.panel2 div{
  float: left;
}
.created,
.status,
.email{
  margin-top: 6px;
}
.name {
  width: 325px;
  position: relative;
  top: -4px;
}
.nameWithoutEmail {
  top: 6px;
}
.email {
  margin: 13px 0 0 0px;
  position: absolute;
  /*color: #7FB7DB;*/
  color: #666;
}
.admin {
  float: right !important;
}
.status {
  margin-left: 5px;
}
.roles {
  width: 98%;
  padding: 5px;
}
.role {
  width: 98%;
  /*border: 1px solid #d0e5f5; */
  padding: 2px;
  margin-bottom: 5px;
}
.rolestatus{
  float: right !important;
  margin: 5px 9px 5px 5px;
}
.roledata{
  width: 100%;
}
.roletitle{
  width:100%;
}
.roledates{
  text-align: right;
  margin: 0 30px 0 0;
}
/* Pagination */
#pagination {
  margin: 0;
  min-height: 1.25em;
  padding: 0.5em;
}
#pagination .paginationCounter {
  float: right;
  margin-right: 0.5em;
}
#pagination .paginationPrev {
  margin-right: 1em;
  font-size: 0.9em;
}
#pagination .paginationNext {
  margin-left: 1em;
  font-size: 0.9em;
}
body.co_people.index #pagination {
  padding: 0.5em;
  background-color: #9FC6E2;
  color: white;
  font-weight: bold;
}
body.co_people.index #pagination a {
  color: white;
}
.outer-center {
  float: right;
  right: 50%;
  position: relative;
}
.inner-center {
  float: right;
  right: -50%;
  position: relative;
}
.clear {
  clear: both;
}
/* people index jquery ui overrides */
#co_people .panel1 {
  border: 1px solid transparent; /* to allow our jquery UI hovers not to change the size of the div */
  background: inherit;
  color: #333;
}
#co_people .ui-state-hover,
#co_people .ui-widget-content .ui-state-hover,
#co_people .ui-widget-header .ui-state-hover,
#co_people .ui-state-focus,
#co_people .ui-widget-content .ui-state-focus,
#co_people .ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background: #d0e5f5 url("/registry/css/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
  color: #1d5987;
}
#co_people .ui-state-active,
#co_people .ui-widget-content .ui-state-active,
#co_people .ui-widget-header .ui-state-active {
  border: 1px solid #79b7e7;
  color: #333;
  background-color: #F5F5F5;
}
#co_people .ui-widget-content {
  background-color: #FAFAFA;
}
.ui-sortable tr {
  cursor: move;
}
/* Footer */
.footer {
  clear: both;
  padding: 1em 0 2em 0;
  background-color: white;
}
.specialFooter {
  padding: 1em 0 2em 0;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
}
.poweredByComanage {
  margin: 1em 0 0 0;
  padding: 0;
}
.poweredText {
  margin: 10px 10px 10px 0;
  float: left;
}